@font-face {
  font-family: "iconfont"; /* Project id 3171092 */
  src: url('iconfont.woff2?t=1646660902519') format('woff2'),
       url('iconfont.woff?t=1646660902519') format('woff'),
       url('iconfont.ttf?t=1646660902519') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaolian:before {
  content: "\e627";
}

.icon-tupian:before {
  content: "\e730";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-24gl-paperPlane:before {
  content: "\e94b";
}

.icon-wenzhangliangtongjiyemianxialalan:before {
  content: "\e606";
}

.icon-fangwenliang:before {
  content: "\e648";
}

.icon-liuyanliang:before {
  content: "\e616";
}

.icon-zongyonghuliang:before {
  content: "\e626";
}

.icon-xiugaimima:before {
  content: "\e614";
}

.icon-xiugaimima1:before {
  content: "\e686";
}

.icon-tuichudenglu:before {
  content: "\e63d";
}

.icon-wenzhangliebiao:before {
  content: "\e665";
}

.icon-xiaoxi:before {
  content: "\e601";
}

.icon-guanyuwo:before {
  content: "\e62b";
}

.icon-youlian:before {
  content: "\e640";
}

.icon-web:before {
  content: "\e6e9";
}

.icon-wenzhang:before {
  content: "\e61e";
}

.icon-xiangceliebiao:before {
  content: "\e65b";
}

.icon-fabuwenzhang:before {
  content: "\e6cc";
}

.icon-page-management:before {
  content: "\e651";
}

.icon-fabiaoshuoshuoicon:before {
  content: "\ea77";
}

.icon-liuyanguanli:before {
  content: "\e63c";
}

.icon-zhuye2:before {
  content: "\e71f";
}

.icon-zhuye3:before {
  content: "\e655";
}

.icon-yonghuguanli:before {
  content: "\e63b";
}

.icon-guanyuwomen:before {
  content: "\e691";
}

.icon-icon-rizhi:before {
  content: "\e625";
}

.icon-fabuwenzhang1:before {
  content: "\e6c5";
}

.icon-slidebar_biaoqianguanli:before {
  content: "\e619";
}

.icon-gerenzhongxin:before {
  content: "\e678";
}

.icon-yonghuliebiao:before {
  content: "\e600";
}

.icon--fenleiguanli:before {
  content: "\e6b4";
}

.icon-wenzhangliebiao1:before {
  content: "\e608";
}

.icon-caozuorizhi:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e687";
}

.icon-yonghuliebiao1:before {
  content: "\e602";
}

.icon-pinglun1:before {
  content: "\e8b4";
}

.icon-caozuorizhi1:before {
  content: "\e664";
}

.icon-xitongguanli:before {
  content: "\e623";
}

.icon-ziyuan:before {
  content: "\e61a";
}

.icon-xiangce:before {
  content: "\e607";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-liuyan:before {
  content: "\e612";
}

.icon-yemianguanli:before {
  content: "\e615";
}

.icon-xiangce1:before {
  content: "\e604";
}

.icon-tagsmanage:before {
  content: "\e613";
}

.icon-41shuoshuo:before {
  content: "\e603";
}

.icon-xiaoxi1:before {
  content: "\e817";
}

.icon-zaixianyonghu:before {
  content: "\e87f";
}

.icon-fenleiguanli:before {
  content: "\e60f";
}

.icon-wangzhan:before {
  content: "\e7fe";
}

.icon-wodeshuoshuo:before {
  content: "\e649";
}

.icon-yonghuguanli1:before {
  content: "\e60a";
}

.icon-zaixianyonghu1:before {
  content: "\e611";
}

.icon-shuoshuo:before {
  content: "\e610";
}

.icon-zhuye:before {
  content: "\e635";
}

