<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lss.mapper.UserMapper">

    <select id="listUsers" resultType="com.lss.entity.User">
        SELECT u.id,
        u.username,
        u.avatar,
        u.nickname,
        u.email,
        u.role,
        u.login_type,
        u.ip_address,
        u.ip_source,
        u.create_time,
        u.update_time,
        u.last_login_time,
        u.is_disable
        FROM blog_user AS u
        <where>
            <if test="loginType!= null and loginType != 0">
                login_type = #{loginType}
            </if>
            <if test="keywords != null and keywords != ''">
                AND nickname LIKE "%"#{keywords}"%"
            </if>
        </where>
        ORDER BY last_login_time DESC
        LIMIT #{currentPage}
        , #{pageSize}
    </select>
</mapper>