/*全局样式表*/
html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.main-card {
    min-height: calc(100vh - 133px);
}

.title {
    position: absolute;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #202a34;
}

.title::before {
    content: '';
    width: 24px;
    height: 16px;
    border-left: 3px solid #0081ff;
    margin-right: 20px;
}

.operation-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    margin-top: 2.25rem;
}

.pagination-container {
    float: right;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}